# Local .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore override files as they are usually local to developer
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files (like those containing secrets or credentials)
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
